.faq-component {
  position: relative;
  padding-bottom: 10rem;
  padding-top: 23rem;

  @media screen and (max-width: 767px) {
    padding-top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../../Assets/Images/faq-bg.svg");
    background-position-x: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  .faq-container {
    position: relative;
    left: -10rem;
    margin-bottom: 1.6rem;

    @media screen and (max-width: 991px) {
      left: 0;
      padding-top: 1rem;
    }

    .content {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .subtitle {
        margin-bottom: 4.4rem;

        @media screen and (max-width: 991px) {
          font-size: 2.4rem;
        }
      }
      .description {
        font-family: DM Serif Display;
        font-size: 4.8rem;
        max-width: 55rem;
        line-height: 140%;

        @media screen and (max-width: 991px) {
          font-size: 3.2rem;
        }
      }
    }

    &.accordions {
      margin-top: 5rem;
    }

    .image {
      position: relative;
      left: 20rem;
      @media screen and (max-width: 767px) {
        left: 0;
        padding-top: 5rem;
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    .load-more {
      .title {
        width: 100%;
      }
      .accordion-button {
        background-color: rgba($accent, 0.2);
        color: $accent;
        text-align: center;

        &::after {
          background-image: url("../../Images/+.svg");
          width: 2rem;
          height: 2rem;
          background-size: cover;
        }
      }
    }

    @media screen and (max-width: 767px) {
      & > .col-12 {
        .accordion-component {
          margin-bottom: 1.6rem;
        }
      }
    }
  }
}
