html {
  color: $black;
  font-size: 10px;
  height: 100%;

  @media screen and (max-width: 767px) {
    font-size: 8px;
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $bgColor;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  height: 100%;

  &.noscrollbar {
    position: fixed;
  }
}

.container {
  max-width: 70vw;

  @media screen and (max-width: 991px) {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.scroll {
  overflow: hidden;
}
