input {
  &.form-control {
    background: $white;
    padding: 1rem 4rem;
    font-size: 1.8rem;
    line-height: 4rem;
    color: $text;
    font-weight: 700;
    border: 1px solid $accent;
    border-radius: .5rem;
    height: auto;
    margin-bottom: 3rem;

    &:focus-within {
      color: $text;
      box-shadow: 0px 20px 40px rgba($accent, 0.1) !important;
      border: 2px solid $accent;
    }

    &:focus,
    &:hover {
      box-shadow: 0px 20px 40px rgba($accent, 0.1) !important;
    }

    &:focus {
      border: 2px solid $accent;
    }

    &::placeholder {
      font-weight: 300;
    }
  }
}

.contact-form {
  .form-group {
    label {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 4rem;
    }
  }

  button {
    margin-bottom: 1rem;
  }
}
